[user]
    email = rosenzweig.noah@gmail.com
    name = Noah Rosenzweig

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[pull]
    rebase = false

[core]
    pager = $GIT_PAGER
    excludesfile = ~/Projects/gitignore

[interactive]
    diffFilter = delta --color-only

[delta]
    features = decorations layout
    whitespace-error-style = 22 reverse

[delta "decorations"]
    commit-decoration-style = bold white ol
    file-style = bold blue
    file-decoration-style = ul ol

[delta "layout"]
    syntax-theme = Monokai Extended
    line-numbers = true
    side-by-side = false

[init]
    defaultBranch = master

# https://blog.jez.io/cli-code-review/
[alias]
    # TODO
    main-branch = !git symbolic-ref refs/remotes/origin/HEAD --short | sed 's,^origin/,,'
    review-base = ![ -n \"${REVIEW_BASE}\" ] && echo \"${REVIEW_BASE}\" || git main-branch
    ; review-files = !bash -eo pipefail -c \"cd "$PWD" && git review-base | xargs git merge-base HEAD | xargs git diff --name-only\" "git review-files"
    review-files = !git diff --name-only $( git merge-base HEAD \"$( git review-base )\" )
    review-stat = !git diff --stat $( git merge-base HEAD \"$( git review-base )\" )
    review = !nvim -p $( git review-files -- ':!*.png' ':!*.jpg' ':!*.ico' ':!*.svg' ) +\"tabdo vertical Gdiffsplit $(git review-base)\" +\"let g:gitgutter_diff_base = '$(git review-base)'\"

[includeIf "gitdir:~/Projects/CREATE/"]
    path = ~/Projects/CREATE/gitconfig

[includeIf "gitdir:~/Projects/CodeCool/"]
    path = ~/Projects/CodeCool/gitconfig

[includeIf "gitdir:~/Documents/CodeCool/"]
    path = ~/Documents/CodeCool/gitconfig

[includeIf "gitdir:~/Projects/ANX/"]
    path = ~/Projects/ANX/gitconfig
