configuration {
  modes: [ combi ];
  combi-modes: [ window, drun, run ];
  //PROFILE = home
  font: "JetBrains mono 14";
  //PROFILE = !home
  //font: "JetBrains mono 20";
}

/* @theme "arc-green-dark" */
/* @theme "Arc-Dark" */
@theme "Monokai"
